@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Fira Code', monospace;
}

::selection {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #333;
}

::-webkit-scrollbar-thumb {
    background: #797575;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.bg-bgBody {
	background-color: #151522;
}

.text-primary {
	color: #672ae9 !important;
}

.border-primary {
	border-color: #672ae9;
}